{% include "header.html"%}
  <header class="masthead" style="background-image: url(static/img/about-bg.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a student in ENSA-Fez: National school of applied science in Fez.</p>
        <p>I like reading and playing different team sports, I also like everything video games related. </p>
        <p>The only one capable of editing and posting is me, you can comment or contact me. </p>
        <p>Thanks for using my website!</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- {% include "footer.html" %} -->